/*: Estilos de la clase de Javascript */

.box {
  margin: 0 auto;
  margin-top: 1.25rem;
  padding: 1.875rem;
  width: 70%;
  min-height: 100%;
  color: var(--text-color);
  border-radius: 0.31rem;
  border: 0.1px solid var(--text-color);
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
input {
  width: 5rem;
  text-align: center;
  padding: 0.31rem 0.625rem;
  border-radius: 0.31rem;
  outline: none;
  font-size: 2em;
  border: 1px dotted var(--color-hard);
  color: var(--color-light);
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}
button {
  padding: 0.31rem 0.31rem;
  margin: 0 3.125rem;
  font-size: 1.2em;
  outline: none;
  cursor: pointer;
  border-radius: 0.31rem;
  border: 1px solid var(--color-middle);
  background-color: var(--color-middle);
  color: var(--text-color);
}
button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.simbolo {
  font-size: 1.8em;
  margin: 0 1.875rem;
}
.resultados {
  margin: 0 auto;
  width: 70%;
  min-height: 6.25rem;
  padding: 1.875rem;
  font-size: 1.5em;
  margin-top: 8px;
  color: var(--text-color);
  border: 3px solid aqua;
}
.verde {
  color: greenyellow;
}
.rojo {
  color: crimson;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .box {
    width: 90%;
  }
  .simbolo {
    font-size: 1.8em;
    margin: 0 auto;
  }
  input {
    width: 3.75rem;
    font-size: 1.5em;
    margin: 0 auto;
  }
  button {
    width: 50%;
    margin: 0 auto;
    margin-top: 3.125rem;
  }
}
